body {
  background: #f0f0f0;
  font-family: Arial;
}

.box {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 70px auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

button {
  width: 100%;
  padding: 10px;
  background: #0066ff;
  border: none;
  margin-top: 20px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}
